body {
	background-color: rgba(0, 0, 0, 0.836);
}

#console {
	font-family: courier, monospace;
	font-size: 14px;
	color: rgba(245, 245, 245, 0.801);
	width: 750px;
	margin-left: 10px;
	margin-right: auto;
	margin-top: 10px;
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: #0f0;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

.blink {
  animation: blinker 1.1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}